#Pocketbase
pocketbase/pb_data/storage/

#Svelte Frontend
svelte-frontend/logs
svelte-frontend/*.log
svelte-frontend/npm-debug.log*
svelte-frontend/yarn-debug.log*
svelte-frontend/yarn-error.log*
svelte-frontend/pnpm-debug.log*
svelte-frontend/lerna-debug.log*

svelte-frontend/node_modules
svelte-frontend/dist
svelte-frontend/dist-ssr
svelte-frontend/*.local

svelte-frontend/.vscode/*
svelte-frontend/!.vscode/extensions.json
svelte-frontend/.idea
svelte-frontend/.DS_Store
svelte-frontend/*.suo
svelte-frontend/*.ntvs*
svelte-frontend/*.njsproj
svelte-frontend/*.sln
svelte-frontend/*.sw?

#Ruby Backend
ruby-backend/.bundle

ruby-backend/db/*.sqlite3
ruby-backend/db/*.sqlite3-*

ruby-backend/log/*
ruby-backend/tmp/*
ruby-backend/!/log/.keep
ruby-backend/!/tmp/.keep

ruby-backend/tmp/pids/*
ruby-backend/!/tmp/pids/
ruby-backend/!/tmp/pids/.keep

ruby-backend/storage/*
ruby-backend/!/storage/.keep
ruby-backend/tmp/storage/*
ruby-backend/!/tmp/storage/
ruby-backend/!/tmp/storage/.keep

ruby-backend/config/master.key
